* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: deeppink;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

#app {
  width: 100%;
  margin: 50px auto;
  background-color: deeppink;
}

.box-wrapper {
  width: 100%;
  background-color: deeppink;
  margin: 0 auto;
  border: 1px solid yellow;
}
.box {
  width: 386px;
  margin: 1em auto;
  border: 1px solid yellow;
  background-color: #fff;
}

.avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #eee;
  float: left;
  margin: .5em;
}

.avatar img {
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

@media (min-width: 800px) {
  .box-wrapper {
    width: 50%;
    float: left;
  }
}

