* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

#app {
  width: 100%;
  margin: 50px auto;
}

.box-wrapper {
  width: 319px;
  margin: 0 auto;
  margin-bottom: 3em;
  text-align: center;
  font-size: 1em;
  opacity: .97;
}
@media (min-width: 800px) {
  .box-wrapper {
    width: 626px;
  }
}
.box-wrapper .number {
  color: deeppink;
  font-size: 3em;
}

.box {
  margin: 1em auto;
}

.avatar {
  width: 5.5em;
  float: left;
  margin: .5em;
}

.avatar img {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: 0 auto;
}

.avatar .name {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
}


